@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 248, 248; /* Gris claro #EEEEEE */
  --background-end-rgb: 248, 248, 248; /* Gris claro #EEEEEE */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26, 26, 26; /* Gris oscuro para modo oscuro */
    --background-end-rgb: 26, 26, 26; /* Gris oscuro para modo oscuro */
  }
}

body {
  background: rgb(var(--background-start-rgb)); /* Usa la variable CSS */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
